@{
    ViewData["Title"] = "Statistics";
}

<h2 class="stat__title">Statistics</h2>
@*links to different statistics*@
<div class='stat__container'>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserSubStats"> Number of users registered, sorted by date </a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NrUserOnSub"> Number of users registered, sorted by subscription </a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ValuesPerMonth"> Total invoices value in every month</a>
<p>All time money: @ViewBag.TotalSum RON</p>
<br />
<p>Money earned today @DateTime.Now.ToString("dd/MM/yyyy") : @ViewBag.CurrentDaySum RON</p>
<br />
<p>Total number of users that have an active subscription: @ViewBag.ActiveUsers</p>
<br />
<p>Total number of users that have an expired subscription: @ViewBag.InactiveUsers</p>
<br />
<p>Total number of users registered today @DateTime.Now.ToString("dd/MM/yyyy") : @ViewBag.TodaysUsers</p>
<br />
<br />
@using (Html.BeginForm("About", "Home"))
{
    <p style="color:red;">@ViewBag.ErrorMessage</p>
    <label for="datePicker">Type in a date (ex:17/05/2022):</label>

    @Html.TextBox("datePicker", "", new { id ="datePicker" })
    <br />
    <br />
    <label for="datePickerStart">Type in starting date:</label>
    @Html.TextBox("datePickerStart", "", new { id ="datePickerStart" })
    <br />
    <br />
    <label for="datePickerEnd">Type in ending date:</label>
    @Html.TextBox("datePickerEnd", "", new { id ="datePickerEnd" })
    <br />
    <input id="submitBtn" type="submit" value="Search" class='create__btn create__customBtn' />
    <a asp-action="About">Refresh</a>
}
<br />
<p>Money earned for the selected date: @ViewBag.SelectedDateSum RON</p>
<br />
<p>Money earned in the time period selected: @ViewBag.BetweenSum RON</p>
</div>