@model VirtualTrainer.Models.ViewModels.EqEx

@{
    ViewData["Title"] = "Details";
}

<h1 style='text-align:center; margin:2rem 0'>Equipment Details</h1>

<div>
    <h3 style='text-align:center; margin:2rem 0'>Selected equipment is @Model.equipment.EquipmentName.</h3>
    <table class="table__container">
        <thead class='table__head'>
            <tr>
                <th>Exercise Name</th>
                <th>Reps</th>
                <th>Sets</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody class='table__row'>
            @foreach (var vp in Model.exercises)
            {
                <tr>
                    <td>@vp.ExerciseName</td>
                    <td>@vp.Reps</td>
                    <td>@vp.Sets</td>
                    <td class='text__wrap'>@vp.Instructions</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
