@model VirtualTrainer.Invoice

@{
    ViewData["Title"] = "Details";
	<link rel="stylesheet" href="~/css/invoice.css" />
}

<div class="invoice-box">
	<table cellpadding="0" cellspacing="0">
		<tr class="top">
			<td colspan="2">
				<table>
					<<tr>
						<td class="title">
							Very Muscular Physique
						</td>
						<td>
							<strong>Invoice #@Model.IdInvoice</strong><br />
							Created: @Model.IssuedDate
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="information">
			<td colspan="2">
				<table>
					<tr>
						<td>
							0731292803<br />
							vmpGym@gmail.com<br />
							Bucharest
						</td>
						<td>
							<strong>@Model.UserName @Model.IdUserNavigation.Surname</strong><br />
							<strong>Mobile: </strong>@Model.IdUserNavigation.Phone<br />
							<strong>Email: </strong>@Model.IdUserNavigation.Email<br />
							<strong>Address: </strong>@Model.IdUserNavigation.Address
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="heading">
			<td>Payment Method</td>
			<td>Currency</td>
		</tr>
		<tr class="details">
			<td>Cash</td>
			<td>RON</td>
		</tr>

		<tr class="heading">
			<td>Subscription</td>
			<td>Price</td>
		</tr>
		<tr class="item">
			<td>@Model.SubName</td>
			<td>@Model.IdSubscriptionNavigation.Price</td>
		</tr>

		<tr class="total">
			<td></td>
			<td>Total: @Model.IdSubscriptionNavigation.Price</td>
		</tr>
	</table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
