@model VirtualTrainer.PersonalWorkout

@{
    ViewData["Title"] = "Create";
}

<h1 class='pw__title'>Create your personal workout</h1>

    <div>
        <form class='pw__form' asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div >
                <label asp-for="WorkoutName"></label>
                <br />
                <input class="pw__input" asp-for="WorkoutName" />
                <span asp-validation-for="WorkoutName" ></span>
            </div>
            <div>
                <label asp-for="WorkProgramId">Program Name</label>
                <br />
                @Html.DropDownListFor(it => it.WorkProgramId, (SelectListItem[])ViewBag.WorkPrograms)
                <span asp-validation-for="WorkProgramId" />
            </div>
            <div>
                <label asp-for="ProgramTypeId">Program Type Name</label>
                <br />
                @Html.DropDownListFor(it => it.ProgramTypeId, (SelectListItem[])ViewBag.ProgramTypes)
                <span asp-validation-for="ProgramTypeId" />
            </div>
            <div>
                <label asp-for="BodyGroupId">Body Group Name</label>
                <br />
                @Html.DropDownListFor(it => it.BodyGroupId, (SelectListItem[])ViewBag.BodyGroups)
                <span asp-validation-for="BodyGroupId" />
            </div>
            Exercises:
            <div class='pw__checkbox'>
                            @{
                                int cnt = 0;
                                List<VirtualTrainer.Models.ViewModels.UserAddsProgram> exercises = ViewBag.Exercises;

                                foreach(var ex in exercises)
                                {
                                    if(cnt++ % 14 == 0)
                                    {
                                        
                                    }
                                    @:<div class='pw__container'>
                                    <input type="checkbox" name="selectedExercises" value="@ex.ExerciseID" @(Html.Raw(ex.Assigned ? "checked=\"checked\"" : ""))/>
                                            /*@ex.ExerciseID*/ @: @ex.Name
                                    @:</div>
                                }
                            }
            </div>
            <div> 
                <input class='pw__submit' type="submit" value="Create" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
