@model VirtualTrainer.Models.ViewModels.IndexSelector

@{
    ViewData["Title"] = "Index";
}

<h1 style='text-align:center; margin:2rem 0'>Personal Workouts</h1>

<p style='text-align:center; margin-bottom:20px;'>
    <a style='color:black;' asp-action="Create">Create a new workout</a>
</p>

<table class="table__container">
    <thead class='table__head'>
        <tr>
            <th>
                Workout Name
            </th>
            <th>
               Work Program
            </th>
            <th>
               Program Type
            </th>
            <th>
                Body Group
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.personalWorkouts) {
        <tr class='table__row'>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wpname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ptname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bgname)
            </td>
            <td>
                <a style='color:#03fcb1' asp-action="Edit" asp-route-id="@item.PersWorkoutId">Edit</a> |
                <a style='color:#03fcb1' asp-action="Delete" asp-route-id="@item.PersWorkoutId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
