@model VirtualTrainer.Models.ViewModels.IndexSelector

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Workout Name
            </th>
            <th>
               Work Program
            </th>
            <th>
               Program Type
            </th>
            <th>
                Body Group
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.personalWorkouts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wpname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ptname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bgname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersWorkoutId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PersWorkoutId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
