@model IEnumerable<VirtualTrainer.Subscription>

@{
    ViewData["Title"] = "Index";
}

<h1 style='text-align:center; margin:2rem 0'>Subscriptions available for clients</h1>

<p>
    <a asp-action="Create">Create a new subscription</a>
</p>
<table class="table__container">
    <thead class='table__head'>
        <tr>
            <th>
                Subscription Name
            </th>
            <th>
                Allowed Time Interval
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class='table__row'>
            <td>
                @Html.DisplayFor(modelItem => item.SubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedTimeInterval)
            </td>
            <td>
                <a style='color:#03fcb1' asp-action="Edit" asp-route-id="@item.Idsubscription">Edit</a> |
                <a style='color:#03fcb1' asp-action="Details" asp-route-id="@item.Idsubscription">Details</a> |
                <a style='color:#03fcb1' asp-action="Delete" asp-route-id="@item.Idsubscription">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
