@model PaginatedList<VirtualTrainer.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name/surname: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>

                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Email</a>
            </th>
            <th>
                Name
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SurnameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Surname</a>
            </th>
            <th>
                Phone
            </th>
            <th>
                CNP
            </th>
            <th width="170">
                Subscription Name
            </th>
            <th width="130">
                -> Start Date
            </th>
            <th width="150">
                -> End Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnp)
                </td>
                @if(item.UserSubscription != null)
                {
                    <td>
                        @if (item.UserSubscription.EndDate > DateTime.Now)
                        {
                            <text>@item.UserSubscription.IdsubscriptionNavigation.SubName</text>
                        }
                        else
                        {
                            <text>Abonament nevalid</text>
                        }
                    </td>
                }
                else
                {
                    <td>Niciun abonament gasit</td>
                }
                <td>
                    @if(item.UserSubscription?.StartDate != null)
                    {
                        <text>@item.UserSubscription.StartDate.ToString("yyyy MMM dd")</text>
                    }
                    else
                    {
                        <text>Fara abonament</text>
                    }
                </td>
                <td>
                    @if(item.UserSubscription?.EndDate != null)
                    {
                        <text>@item.UserSubscription.EndDate.ToString("yyyy MMM dd")</text>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Iduser">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Iduser">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
